@page "/ServerError"

<PageTitle>Server Error</PageTitle>

<MudCard Elevation="25" Class="mt-5">
    <MudCardContent>
        <!--begin::Content-->
        <div class="d-flex flex-row-fluid flex-column flex-column-fluid align-center p-3">
            <!--begin::Logo-->
            <MudImage Src="/Images/ServerError.jpg" Height="null" Width="400" Alt="NoDataToDisply" Class="rounded-lg ma-4" />
            <!--end::Logo-->
        </div>
        <!--end::Content-->
    </MudCardContent>
</MudCard>